html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
.wrap {
  width: 100%;
 
   
}
.header {
  display: flex;
  height: 66px;
  width: 100%;
  background: #07569A;
  
}
.header_logo {  
  padding: 10px 51px;
  margin-left: 120px;
  border: 1px solid rgba(256, 256, 256, 0.6);
  margin-right: 806px;  
}
.header_basket {
  display: flex;
  align-content: center;
  padding-left: 20px;
  border-left: 1px solid rgba(256, 256, 256, 0.6);
}
.header_basket_img {
  margin-top: 14px;
  margin-left: 12px;
  width: 34px;
  height: 34px;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 93px;
  height: 24px;
}
.amount {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 73px;
  height: 20px;
  color: #FFFFFF;
}
.header_basket_info {
  margin-top: 11px;
}
.content {
  height: calc(100vh -  66px - 52px);
}
.content {
  width: 234px;
  margin-left: 120px;
  background-color: rgba(229, 228, 229, 1);
}
.footer{
  position: absolute;
  margin-bottom: -100px;
  margin-left: 120px;
  height: 52px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 20px;
}
